@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
       font-family: cursive;
    font-weight: bolder;
}

input:focus-visible {
    outline: 0;
}

.main {
    background-color: rgb(20 3 47);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 400px;
    padding: 10px;
       box-shadow: rgb(240 240 240) 0px 15px 50px;
    background: rgb(66 40 180);
    border-radius: 2px;
    margin-top: 10px;
}

#pass-box {
    width: 100%;
    display: block;
    background-color: white;
    font-size: 30px;
    padding: 10px;
    border-radius: 4px;
}

.row {
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    color: white;
    font-size: 20px;
}

label {
    user-select: none;
}

#btn {
    width: 100%;
    font-size: 20px;
    outline: 0;
    border: 0;
    padding: 10px;
    background-color: #34495e;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
}
#btn:hover{
      transition: 0.3s;
   background-color: rgb(249, 253, 4);
   color:navy;
}
@media screen and (max-width:397px){
  .body{
    width: 375px;
    
    
  }
}
